.ludo {
  width: 100%;
  background-image: url("../../../public/Assets/ludo-bg.png");
  height: auto;
  aspect-ratio: 1/1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid var(--clr-border);
  border-radius: 5px;
  position: relative;
  margin-top: 1vw;
}

@media (min-width: 1024px) {
  .ludo {
    width: 30em;
  }
}

@media (min-width: 1248px) {
  .ludo {
    grid-area: 1/1/3/2;
    width: 40em;
  }
}
/* @media (min-width: 1536px) {
  .ludo {
    width: 35vw;
  }
} */
