.ludo {
  width: 100%;
  background-image: url("../../../public/Assets/ludo-bg.png");
  height: auto;
  aspect-ratio: 1/1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  position: relative;
}
