.turninfo {
  width: 100%;
  height: 13em;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  border-radius: 10px;
  border: 2px solid yellow;
}

.active-player {
  grid-area: 1/1/5/4;
  width: 100%;
  background-color: var(--clr-blue);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  gap: 2%;
  border: 2px solid red;
}

.active-player span {
  font-size: 1.2em;
  text-align: center;
  flex-grow: 1;
}

.active-player p {
  font-size: 0.8em;
  padding: 0.5em;
  text-align: left;
  border: 2px solid green;
}

.setGameBtns {
  grid-area: 5/1/7/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: 648px) {
  .turninfo {
    height: 15em;
  }
  .active-player span {
    font-size: 2.5em;
  }

  .active-player p {
    font-size: 1.5em;
    padding: 0.5em;
  }
}

@media (min-width: 728px) {
  .turninfo {
    height: 15em;
  }

  .active-player span {
    font-size: 2em;
  }

  .active-player p {
    font-size: 1.4em;
  }

  .setGameBtns {
    font-size: 1em;
  }
}
@media (min-width: 940px) {
  .turninfo {
    height: 18em;
  }

  .active-player span {
    font-size: 2.5em;
  }

  .active-player p {
    font-size: 2em;
  }
}

@media (min-width: 1248px) {
  .turninfo {
    height: 100%;
    width: 30vw;
    margin-top: 0;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
  }

  .active-player {
    grid-area: 1/1/4/6;
  }

  .setGameBtns {
    grid-area: 5/1/7/4;
    flex-direction: column;
    gap: 2vh;
    height: 200px;
  }
}
@media (min-width: 1536px) {
  .turninfo {
    width: 25vw;
  }
}
