.winbox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 2vw;
}

.winbox-heading {
  background-color: black;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 5px;
}

.positions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.position {
  width: 22%;
  border-radius: 5px;
  border: 1px solid var(--clr-border);
  color: var(--clr-border);
  padding: 0.4rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.8em;
}

.rank {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.rank img {
  height: 20px;
  width: auto;
}

@media (min-width: 420px) {
}

@media (min-width: 648px) {
}

@media (min-width: 728px) {
  .position {
    padding: 0.8rem;
    gap: 10px;
    font-size: 1em;
  }
  .rank img {
    height: 30px;
    width: auto;
  }
}

@media (min-width: 1024px) {
  .winbox {
    grid-area: 3/3/4/5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }
  .winbox-heading {
    background-color: black;
    color: white;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  .position {
    padding: 0.8rem;
    gap: 10px;
    font-size: 0.8em;
  }
  .rank img {
    height: 20px;
    width: auto;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
